$bg-dark: #2e2f30;
$bg-dark-light: #404142;
$bg-border: #9b9b9b;
$bg-border-dark: #000000;
$bg-hover: #654321;
$bg-pressed: #2e2f30;
$bg-disabled: #535455;
$fg-text: #d0d0d0;
$fg-text-selected: white;
$fg-text-disabled: #9b9b9b;
$bg-menu: #404142;
$bg-menu-selected: #5b5c5d;
$bg-menu-hover: #654321;
$bg-menu-pressed: #545556;
$bg-button: #38393a; //#535455
$bg-button-hover: #654321;
$bg-button-pressed: #432d15;
$bg-tab-hover: #654321;
$bg-tab-selected: #565656;
$bg-contrast: #cc870f;
//$bg-scroll: #8b8b8b;
$bg-scroll: #787878;
//$bg-scroll-handle: #2e2f30;
$bg-scroll-handle: #383838;
$bg-scroll-handle-hover: #404040;
//$bg-tab-selected: #5b5c5d;
$bg-table-header: #404142;
$bg-table-item: #5b5c5d;
$bg-table-item-alternate: #6f6f71;
$bg-table-item-hover: #654321;
$bg-table-item-selected: #48494a;

/****************************************
 *              QCheckBox               *
 ****************************************/

QCheckBox {
	color: $fg-text;

	&:indicator {
		background-color: transparent;
		image: url(icons:check-square.svg);

		&:unchecked {
			background-color: transparent;
			image: url(icons:check-square.svg);

			&:hover {
				image: url(icons:check-square-hover.svg);
			}
		}

		&:checked {
			background-color: transparent;
			image: url(icons:check-square-checked.svg);

			&:hover {
				image: url(icons:check-square-checked-hover.svg);
			}
		}

		&:hover {
			background-color: $bg-hover;
		}

		&:disabled {
			background-color: $bg-disabled;
		}
	}

	&:disabled {
		color: $fg-text-disabled;
	}
}

/****************************************
 *              QComboBox               *
 ****************************************/

QComboBox {
    border: 1px solid $bg-border;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius:2px;
	background-color: $bg-dark-light;
	color: $fg-text;
	min-height: 22px;
    text-align: center;
	padding:  1px 18px 1px 3px;;

	QAbstractItemView {
		border: 1px solid $bg-border;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background-color: transparent;
		color: $fg-text;
		outline: none;

		&:item {
			&:selected {
				background-color: $bg-hover;
			}
		}

		//&:hover {
		//	background-color: $bg-hover;
		//}
	}

	&:editable {
		background: $bg-dark-light;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	&::down-arrow {
		image: url(icons:caret-down-fill-12.svg);

		&:on {
			top: 1px;
		}
	}

	&:on { /* shift the text when the popup opens */
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		top: 1px;
	}

	&::drop-down {
		subcontrol-origin: padding;
		subcontrol-position: top right;
		width: 15px;
		color: $fg-text;

		border-left-width: 1px;
		border-left-color: $bg-border;
		border-left-style: solid; /* just a single line */
		border-top-right-radius: 2px; /* same radius as the QComboBox */
		border-bottom-right-radius: 2px;
		background-color: $bg-dark-light;
	}
}

//QComboBox QAbstractItemView {
//    border: 1px solid $bg-border;
//	background-color: transparent;
//	selection-background-color: $bg-hover;
//	selection-color: $fg-text-selected;
//	selection-border: none;
//}

/****************************************
 *           QGraphicsView              *
 ****************************************/

QGraphicsView {
	border: 1px solid $bg-border;
	border-radius: 2px;
	padding: 2px;
	background-color: $bg-dark;
}

/****************************************
 *              QGroupBox               *
 ****************************************/

QGroupBox {
	background-color: $bg-dark-light;
	color: $fg-text;
	border: 1px solid $bg-border;
	border-radius: 10px;
	margin-top: 4.0ex;
	padding-top: 15px;

	QAbstractItemView {
		&:item {
			&:selected {
				background-color: $bg-hover;
			}
		}
	}

	&:unchecked {
		background-color: transparent;
	}

	&:disabled {
		background-color: transparent;
	}

	&::title {
		border: 1px solid $bg-border;
		border-radius: 5px;

		subcontrol-origin: margin;
		subcontrol-position: top left;
		padding: 3px;
		left: 10px;
		background-color: $bg-dark-light;
	}

	&::indicator {
		background-color: transparent;
		image: url(icons:checkbox.png);

		&:unchecked {
			background-color: transparent;
			image: url(icons:checkbox.png);
		}

		&:checked {
			background-color: transparent;
			image: url(icons:checkbox-checked.png);
		}

		&:hover {
			background-color: $bg-hover;
		}
	}
}

/****************************************
 *             QHeaderView              *
 ****************************************/

QHeaderView {
	background-color: $bg-table-header;

	&::section {
		background-color: $bg-table-header;
		color: $fg-text;
		border: 1px solid $bg-dark;
		padding-top: 1px;
		padding-bottom: 2px;
		padding-left: 2px;
		padding-right: 2px;

		&::vertical {
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 4px;
			padding-right: 4px;
		}
	}
}

QHeaderView[id="checkable"]{
	&::section {
		padding-left: 29px;
		&:checked {
			ackground-color: #654321;
			background: #c80;
			background: red;
		}
	}
}

/****************************************
 *               QLabel                 *
 ****************************************/

QLabel {
	color: $fg-text;
}

/****************************************
 *              QLineEdit               *
 ****************************************/

QLineEdit {
    border: 1px solid $bg-border;
    border-radius: 2px;
	background-color: $bg-dark-light;
	selection-background-color: $bg-hover;
	selection-color: $fg-text-selected;
	color: $fg-text;
	min-height: 22px;

	&:disabled {
		background-color: transparent;
		border-color: lightgray;
	}
 }

/****************************************
 *             QMainWindow              *
 ****************************************/

QMainWindow, QWidget#EquationForm {
	background-color: $bg-dark;
	color: $fg-text;
}

/****************************************
 *                QMenu                 *
 ****************************************/

QMenu {
    background: $bg-menu;
	color: $fg-text;
	border: 1px solid $bg-border-dark;

	&::item {
		/* sets background of menu item. set this to something non-transparent
			if you want menu color and menu item color to be different */
		background-color: transparent;
		padding: 2px 20px 2px 25px;
		min-height: 20;

		&:selected { /* when user selects item using mouse or keyboard */
			background-color: $bg-menu-hover;
		}

		&:enabled:selected {
			color: $fg-text-selected;
		}
	}

	&::icon {
		padding: 2px;
		border: 2px white;
	}
}

/****************************************
 *               QMenuBar               *
 ****************************************/

QMenuBar {
    background-color: $bg-menu;
	color: $fg-text;
	border-bottom: 1px solid $bg-border-dark;

	&::item {
		spacing: 7px; /* spacing between menu bar items */
		padding: 4px 14px;
		background: transparent;
		border-radius: 0px;

		&:selected { /* when selected using mouse or keyboard */
			background: $bg-menu-selected;
		}

		&:pressed {
			background: $bg-menu-pressed;
		}
	}
}

/****************************************
 *             QMessageBox              *
 ****************************************/

QMessageBox {
	background-color: $bg-dark;
	color: $fg-text;

	//QLabel#qt_msgbox_label{
	//	min-width: 100px;
	//}
}

QPushButton {
	background-color: $bg-button;
	border: 1px solid gray;
	border-radius: 2px;
	color: $fg-text;
	//min-width: 30;
	min-height: 22;
	padding-left: 4px;
	padding-right: 4px;

	&:hover {
		background-color: $bg-hover;
	}

	&:pressed {
		background-color: $bg-button-pressed;
	}

	&:disabled {
		background-color: $bg-disabled;
		color: $fg-text-disabled;
	}

	&[id="open"] {
		image: url(icons:three-dots.svg);
		border-radius: 2px;
		width: 24px;

		&:hover {
			image: url(icons:three-dots-hover.svg);
			background-color: $bg-button-hover;
		}

		&:pressed {
			image: url(icons:three-dots-pressed.svg);
			background-color: $bg-button-pressed;
		}
	}

	&[id="add"] {
		image: url(icons:plus-lg.svg);
		border-radius: 2px;
		width: 24px;

		&:hover {
			image: url(icons:plus-lg-hover.svg);
			background-color: $bg-button-hover;
		}

		&:pressed {
			image: url(icons:plus-lg-pressed.svg);
			background-color: $bg-pressed;
		}
	}

	&[id="add_to_table"] {
		image: url(icons:ud-plus-lg.svg);
		border-radius: 2px;
		width: 24px;
		padding-left: 0px;
		padding-right: 0px;

		&:hover {
			image: url(icons:ud-plus-lg-hover.svg);
			background-color: $bg-button-hover;
		}

		&:pressed {
			image: url(icons:ud-plus-lg.svg);
			background-color: $bg-pressed;
		}
	}

	&[id="remove_from_table"] {
		image: url(icons:ud-dash-lg.svg);
		border-radius: 2px;
		width: 24px;
		padding-left: 0px;
		padding-right: 0px;

		&:hover {
			image: url(icons:ud-dash-lg-hover.svg);
			background-color: $bg-button-hover;
		}

		&:pressed {
			image: url(icons:ud-dash-lg.svg);
			background-color: $bg-pressed;
		}
	}

	&[id="table"] {
		image: url(icons:ud-table.svg);
		border: none;
		margin: 0;
		width: 16px;

		&:hover {
			image: url(icons:ud-table-hover.svg);
			background-color: $bg-button-hover;
		}

		&:pressed {
			image: url(icons:ud-table.svg);
			background-color: $bg-pressed;
		}
	}

	&[id="big"] {
		border-radius: 2px;
		min-width: 60;
		min-height: 32;
		//padding: 2px;
		padding-left: 6px;
		padding-right: 6px;
	}
}

/****************************************
 *             QScrollBar               *
 ****************************************/

QScrollBar {
	&:horizontal {
		border: 1px solid $bg-border;
    	background: $bg-scroll;
		height: 15px;
    	margin: 0px 22px 0 22px;
	}

	&:vertical {
		border: 1px solid $bg-border;
		background: $bg-scroll;
		width: 15px;
		margin: 22px 0 22px 0;
	}

	&:handle {
		background: $bg-scroll-handle;

		&:horizontal {
			image: url(icons:scroll-handle-grip-horizontal.svg);
			min-width: 39px;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-handle-grip-horizontal-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-handle-grip-horizontal.svg);
			}
		}

		&:vertical {
			image: url(icons:scroll-handle-grip-vertical.svg);
			min-height: 39px;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-handle-grip-vertical-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-handle-grip-vertical.svg);
			}
		}
	}

	&:add-line {
		&:horizontal {
			border: 1px solid $bg-border;
			background: $bg-scroll-handle;
			image: url(icons:scroll-arrow-right.svg);
			width: 20px;
			subcontrol-position: right;
			subcontrol-origin: margin;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-arrow-right-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-arrow-right.svg);
			}
		}

		&:vertical {
			border: 1px solid $bg-border;
			background: $bg-scroll-handle;
			image: url(icons:scroll-arrow-down.svg);
			height: 20px;
			subcontrol-position: bottom;
			subcontrol-origin: margin;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-arrow-down-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-arrow-down.svg);
			}
		}
	}

	&:sub-line {
		&:horizontal {
			border: 1px solid $bg-border;
			background: $bg-scroll-handle;
			image: url(icons:scroll-arrow-left.svg);
			width: 20px;
			subcontrol-position: left;
			subcontrol-origin: margin;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-arrow-left-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-arrow-left.svg);
			}
		}

		&:vertical {
			border: 1px solid $bg-border;
			background: $bg-scroll-handle;
			image: url(icons:scroll-arrow-up.svg);
			height: 20px;
			subcontrol-position: top;
			subcontrol-origin: margin;

			&:hover {
				background: $bg-scroll-handle-hover;
				image: url(icons:scroll-arrow-up-hover.svg);
			}

			&:pressed {
				background: $bg-pressed;
				image: url(icons:scroll-arrow-up.svg);
			}
		}
	}

	&:add-page {
		&:horizontal {
			background: none;
		}

		&:vertical {
			background: none;
		}
	}

	&:sub-page {
		&:horizontal {
			background: none;
		}

		&:vertical {
			background: none;
		}
	}
}

QAbstractScrollArea {
	&:corner {
		background: $bg-scroll;
		border: none;
	}
}

/****************************************
 *               QSlider                *
 ****************************************/

QSlider {
	&::groove {
		&:horizontal {
			border: 1px solid $bg-border;
			border-radius: 4px;
			height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
			background: $bg-dark-light;
			margin: 0px 0;

			&:disabled {
				border: 1px solid $bg-dark;
				background-color: $bg-disabled;
			}
		}
	}

	&::handle {
		&:horizontal {
			background: $bg-dark;
			border: 1px solid $bg-border;
			width: 14px;
			height: 14px;
			margin: -4px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
			border-radius: 8px;

			&:hover {
				background-color: $bg-hover;
				border-color: $fg-text;
			}

			&:disabled {
				background-color: $bg-disabled;
			}
		}
	}

	&::sub-page {
		&:horizontal {
			border: 1px solid $bg-dark;
			border-radius: 4px;
			background-color: $bg-contrast;

			&:disabled {
				border: 1px solid $bg-border;
				background-color: $bg-disabled;
			}
		}
	}
}

/****************************************
 *      QSpinBox, QDoubleSpinBox        *
 ****************************************/

QSpinBox, QDoubleSpinBox {
    border: 1px solid $bg-border;
	border-radius: 2px;
	background-color: $bg-dark-light;
	color: $fg-text;
    //border-radius: 0px;
	min-height: 19px;

	selection-background-color: $bg-hover;
	selection-color: $fg-text-selected;

	&:disabled {
		background-color: $bg-disabled;
		color: $fg-text-disabled;
	}

	&::up-button {
		image: url(icons:caret-up-fill.svg);
		subcontrol-origin: border;
		subcontrol-position: top right;
		border: 1px solid $bg-border;
		border-top-right-radius: 2px;
		width: 12px;
		height: 8px;
		background-color: $bg-dark-light;

		&:hover {
			image: url(icons:caret-up-fill-hover.svg);
			background-color: $bg-hover;
		}

		&:pressed {
			image: url(icons:caret-up-fill-pressed.svg);
			background-color: $bg-pressed;
		}

		&:disabled {
			image: url(icons:caret-up-fill-pressed.svg);
			background-color: $bg-disabled;
		}
	}

	&::down-button {
		image: url(icons:caret-down-fill.svg);
		subcontrol-origin: border;
		subcontrol-position: bottom right;
		border: 1px solid $bg-border;
		border-bottom-right-radius: 2px;
		width: 12px;
		height: 8px;
		background-color: $bg-dark-light;

		&:hover {
			image: url(icons:caret-down-fill-hover.svg);
			background-color: $bg-hover;
		}

		&:pressed {
			image: url(icons:caret-down-fill-pressed.svg);
			background-color: $bg-pressed;
		}

		&:disabled {
			image: url(icons:caret-down-fill-pressed.svg);
			background-color: $bg-disabled;
		}
	}
}

/****************************************
 *             QTabWidget               *
 ****************************************/

QTabWidget {
	//top: 2px;
	&::pane { /* The tab widget frame */
		border: 1px solid $bg-border;
		background-color: $bg-dark-light;
		border-radius: 10px;
		top: -1px;
	}
}

QTabWidget::tab-bar {
    left: 10px; /* move to the right by 5px */
	//margin-bottom: -5px;
}

/****************************************
 *               QTabBar                *
 ****************************************/

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar {
	&::tab {
		background: $bg-dark;
		color: $fg-text;
		border: 1px solid $bg-border;
		//border-bottom-color: $bg-dark-light; /* same as the pane color */
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		min-width: 8ex;
		padding: 4px 8px;
		margin-top: 2px;

		&:selected {
			background: $bg-dark-light;
			color: $fg-text-selected;
			border-bottom: 4px;
			border-bottom-color: $bg-dark-light;
			margin-top: 0px;
			margin-left: -4px;
			margin-right: -4px;
			&:hover {
				background: $bg-dark-light;
			}
		}

		&:hover {
			background: $bg-tab-hover;
		}

		&:first {
			&:selected {
				margin-left: 0;
			}
		}

		&:last {
			&:selected {
				margin-right: 0;
			}
		}

		&:only-one {
			margin: 0;
		}
	}
}

/****************************************
 *            QTableWidget              *
 ****************************************/

QTableWidget, QTableView {
	background-color: $bg-dark;
	color: $fg-text;

	&::item {
		background-color: $bg-table-item;
		color: $fg-text;
		border: none;

		&:alternate {
			background-color: $bg-table-item-alternate;
		}

		&:hover {
			background: $bg-table-item-hover;
		}

		&:selected {
			background: $bg-table-item-selected;
			color: $fg-text-selected;
		}
	}

	& QTableCornerButton::section {
		background-color: $bg-table-header;
		color: $fg-text;
		border: 1px solid $bg-dark;
	}
}